.td-city {
    font-size: 14px;
    .search-city {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 16px;
        color: var(--color-detail);
        position: relative;
        font-size: 13px;
        line-height: 13px;
        span {
            font-size: 13px;
            color: var(--color-detail);
            line-height: 13px;
        }
        .icon-add {
            font-size: 22px;
            color: #2D8CF0;
        }
        input {
            background: #FFFFFF;
            border: 1px solid #DDDEE1;
            border-radius: 14px;
            height: 24px;
            line-height: 24px;
        }
    }
    .recent-city {
        color: var(--link-color);
        font-size: 12px;
        padding: 10px 16px 10px 16px;
        margin-left: -9px;
        white-space: nowrap;
        width: 368px;
        overflow: hidden;
        .recent_city {
            display: inline;
            padding: 0 8px;
            cursor: pointer;
        }

        .not-allowed {
            cursor: not-allowed;
        }
    }
    .select-city {
        .letter-list {
            margin: 0 16px;
            /*padding: 16px ;*/
            display: flex;
            font-size: 12px;
            color: var(--color-detail);
            line-height: 24px;
            border-bottom: 1px solid var(--border-color);
            span {
                margin-right: 16px;
                display: block;
                cursor: pointer;
            }
            span.active {
                border-bottom: 1px solid var(--link-color);
                color: var(--link-color);
            }
        }
        .city-list {
            height: auto;
            padding: 16px;
            .row {
                display: flex;
                margin-bottom: 8px;
                .city-label {
                    width: 10px;
                    font-size: 14px;
                    color: var(--color-icon);
                    letter-spacing: -1.17px;
                    text-align: left;
                    line-height: 20px;
                    margin-right: 20px;
                }
                .city-label-list {
                    .city {
                        float: left;
                        font-size: 12px;
                        color: var(--color-detail);
                        letter-spacing: 0;
                        text-align: left;
                        line-height: 20px;
                        cursor: pointer;
                        width: 74px;
                    }

                    .not-allowed {
                        cursor: not-allowed;
                    }
                }
            }
        }
    }
}
