.td-selectgroup {
    padding: 0 24px;
    margin-top: 0;
    height: 100%;
    min-height: 140px;
    font-size: 13px;
    .group {
        position: relative;
        border-bottom: 1px solid rgba(23, 35, 61, 0.10);
        .relation {
            position: absolute;
            left: -10px;
            top: 50%;
            margin-top: -20px;
            border-radius: 2px;
            border: 1px solid #AC3FC0;
            z-index: 1;
            font-size: 12px;
        }
        .intersection {
            background: #fff;
            width: 24px;
            height: 20px;
            display: block;
            color: #AC3FC0;
            line-height: 20px;
            text-align: center;
            cursor: pointer;
        }
        .intersection.active {
            background: #AC3FC0;
            width: 24px;
            height: 20px;
            display: block;
            color: #fff;
            line-height: 20px;
            text-align: center;
            cursor: pointer;
        }
        .union {
            background: #fff;
            width: 24px;
            height: 20px;
            display: block;
            color: #AC3FC0;
            line-height: 20px;
            text-align: center;
            cursor: pointer;
        }
        .union.active {
            background: #AC3FC0;
            width: 24px;
            height: 20px;
            display: block;
            color: #fff;
            line-height: 20px;
            text-align: center;
            cursor: pointer;
        }
        .line-top {
            position: absolute;
            left: 8px;
            top: 32px;
            border-top: 1px solid rgba(23, 35, 61, 0.10);
            border-left: 1px solid rgba(23, 35, 61, 0.10);
            width: 24px;
            height: calc(100% - 64px);
            /*減去两个32px*/
        }
        .line-bottom {
            position: absolute;
            left: 8px;
            bottom: 32px;
            border-top: 1px solid rgba(23, 35, 61, 0.10);
            width: 24px;
        }
        .line-left {
            position: absolute;
            left: 8px;
            top: 0;
            border-left: 1px solid rgba(23, 35, 61, 0.10);
        }
    }
    .group:last-child {
        border-bottom: 0;
    }
    .super {
        padding: 0 0 0 32px;
        .td-condition {
            border-bottom: 1px solid #E3E3E3;
            position: relative;
        }
        .td-condition:after {
            position: absolute;
            left: 50%;
            bottom: -9px;
            margin-left: -20px;
            width: 40px;
            height: 20px;
            line-height: 20px;
            background: #fff;
            text-align: center;
        }
        .and:after {
            content: 'and';
        }
        .or:after {
            content: 'or';
        }
        .last {
            border-bottom: 0;
        }
        .last:after {
            content: '';
        }
    }
}
@define-mixin unit {
    display: inline-block;
    width: 32px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    border: 1px solid var(--border-color);
    margin-left: -1px;
}
.td-condition {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 16px 0;

    margin-top: -5px;
    .condition-group {
        .type {
            display: inline-block;
            vertical-align: top;
        }
        .ivu-select,
        .ivu-cascader {
            margin-right: 4px;
            margin-top: 4px;
            vertical-align: top;
        }
        .ivu-cascader {
            display: inline-block;
        }
        .distance {
            display: inline-block;
            margin-right: 4px;
            vertical-align: top;
            .l {
                display: inline-block;
                width: 74px;
                border: 1px solid var(--border-color);
                height: 28px;
                line-height: 28px;
                padding-left: 12px;
                margin-right: 4px;
                margin-top: 4px;
                position: relative;
            }
            .r {
                display: inline-block;
                vertical-align: top;
            }
        }
        .myshop,
        .zengyi {
            display: inline-block;
            vertical-align: top;
            .ivu-select {
                display: inline-block;
                vertical-align: top;
            }
            .customValue {
                margin-top: 4px;
            }
        }
        .zengyi {
            margin-right: 0;
            .distance {
                margin-right: 0;
            }
        }
        .opration {
            display: inline-block;
            margin-right: 4px;

            vertical-align: top;
            .ivu-select {
                display: inline-block;
                vertical-align: top;
            }
            .r {
                display: inline-block;
                vertical-align: top;
                margin-top: 4px;
                span {
                    vertical-align: middle;
                    @mixin unit;
                }
            }
        }
        .ivu-select .ivu-select-selection {
            height: 28px;
        }
        .ivu-select.ivu-select-multiple .ivu-select-selection {
            height: auto;
        }
        .ivu-select-multiple .ivu-tag {
            height: 20px;
            line-height: 20px;
        }
        .ivu-input {
            height: 28px;
        }
        .error {
            .ivu-select-selection {
                border: 1px solid #ed3f14;
            }
            .ivu-input {
                border: 1px solid #ed3f14;
            }
        }
    }
    .condition-handler {
        white-space: nowrap;
        .subtraction,
        .addition {
            width: 28px;
            height: 28px;
            border: 1px solid var(--border-color);
            border-radius: 2px;
            line-height: 28px;
            text-align: center;
            font-size: 12px;
            background: #fff;
            display: inline-block;
            cursor: pointer;
            color: var(--color-icon);
        }
    }
}
