#editCanvas {
    .chooser-select {
        position: absolute;
        right: 0;
        top: -43px;
        display: flex;
        font-size: 12px;
        .all {
            margin-right: 16px;
            cursor: pointer;
        }
        .cancel {
            cursor: pointer;
        }
        .allActive {
            color: var(--color-icon1);
            cursor: auto;
        }
        .cancelActive {
            color: var(--color-icon1);
            cursor: auto;
        }
    }
    .chooser-list {
        margin-top: 16px;
        min-height: 24px;
        overflow: hidden;
        ul {
            li {
                float: left;
                width: 64px;
                height: 24px;
                display: block;
                margin-right: 8px;
                margin-bottom: 8px;
                border: 1px solid #DCDEE2;
                border-radius: 2px;
                text-align: center;
                line-height: 24px;
                cursor: pointer;
                font-size: 12px;
                color: var(--color-detail);
            }
            li.active {
                border: 1px solid var(--color-hover);
                color: var(--color-hover);
            }
        }
    }
}
