:root {

    /*Font*/
    --font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;

    --font-icon: 20px;
    --font-bold: bold;
    --font-size: 14px;

    /*Colors */
    --color-title: #17233D;
    --color-detail: rgba(23, 35, 61, 0.75);
    --color-icon: rgba(23, 35, 61, 0.55);
    --color-icon1: rgba(23, 35, 61, 0.25);
    --color-gray: rgba(23, 35, 61, 0.06);
    --color-gray1: rgba(23, 35, 61, 0.03);
    --color-hover: #2d8cf0;
    --color-hover-bg: rgba(45, 140, 240, 0.06);

    /*Border */
    --border-radius: 2px;
    --border-color: #e7e9eb;

    /*hover*/
    --background-color-hover: #f3f8fe;
    --font-color-hover: #2d8cf0;
}
