.td-top-rank {
    .main {
        font-size: 13px;
        color: #17233D;
        .nodata {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            text-align: center;
            letter-spacing: normal;
            font-size: 13px;
        }
        .td-column {
            .rank {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 16px;
                .left {
                    display: flex;
                    align-items: center;
                    line-height: 22px;
                    .number {
                        width: 20px;
                        height: 20px;
                        line-height: 20px;
                        font-size: 13px;
                        color: var(--color-detail);
                        text-align: center;
                        margin-right: 24px;
                    }
                }
                .right {
                    display: flex;
                    align-items: center;
                    .td-column-value {
                        font-size: 13px;
                        margin-right: 10px;
                    }
                    .td-column-bar {
                        width: 140px;
                    }
                }
            }
            .rank:nth-child(1) {
                .number {
                    border-radius: 50%;
                    background: #F27036;
                    color: #fff;
                }
            }
            .rank:nth-child(2) {
                .number {
                    border-radius: 50%;
                    background: #00D2B3;
                    color: #fff;
                }
            }
            .rank:nth-child(3) {
                .number {
                    border-radius: 50%;
                    background: #2D8CF0;
                    color: #fff;
                }
            }
        }
    }
}
